name: Auto Commit

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          sleep $((RANDOM % 3600))
          git config --global user.name "vryptt-bot"
          git config --global user.email "vryptt@vrypt.com"
          echo "Update: $(date)" >> auto.md
          git add auto.md
          git commit -m "auto: update $(date)" || exit 0
          git push
